.banner {
  position: relative;
}

.banner::before {
  content: '';
  display: none;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: scaleTopLeft 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.banner:hover::before {
  display: block;
}

.banner::after {
  content: '';
  display: none;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: scaleBottomRight 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.banner:hover::after {
  display: block;
}

@keyframes scaleTopLeft {
  0% {
    transform: scale(0);
    transform-origin: 0% 0%;
    border-bottom-right-radius: 50%;
  }
  100% {
    transform: scale(1);
    transform-origin: 0% 0%;
    border-radius: 0;
  }
}

@keyframes scaleBottomRight {
  0% {
    transform: scale(0);
    transform-origin: 100% 100%;
    border-top-left-radius: 50%;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 100%;
    border-top-left-radius: 0;
  }
}
