.dropdownList {
  animation: dropdownGrowth ease-in-out 0.25s;
  transform-origin: calc(100% - 18px) -10px;
}

@keyframes dropdownGrowth {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}