@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/ */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
}

.fade-in {
  animation: fadeIn 0.6s ease-in-out;
}

.container {
  @apply max-w-[1220px] mx-auto px-4 xl:px-0;
}

.icon {
  @apply text-xl inline-block;
}

.slick-slide {
  animation: fadeIn 1s;
}

button.slick-arrow {
  width: 80px;
  height: 80px;
  z-index: 10;
}
button.slick-arrow:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
button.slick-arrow:hover::before {
  color: theme('backgroundColor.primary.400');
}
button.slick-arrow::before {
  color: #8a8a8a;
  font-size: 32px;
}
button.slick-arrow.slick-prev {
  left: 10px;
}
button.slick-arrow.slick-prev::before {
  content: '\276E';
}
button.slick-arrow.slick-next {
  right: 10px;
}
button.slick-arrow.slick-next::before {
  content: '\276F';
}

/* Chrome, Safari, Edge, Opera */
input[type=number].hide-arrows::-webkit-outer-spin-button,
input[type=number].hide-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number].hide-arrows {
  -moz-appearance: textfield;
}

.banner {
  position: relative;
}
.banner::before {
  content: '';
  display: none;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: scaleTopLeft 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.banner:hover::before {
  display: block;
}
.banner::after {
  content: '';
  display: none;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: scaleBottomRight 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.banner:hover::after {
  display: block;
}

.disabled,
input[disabled] {
  border-width: 1px;
  pointer-events: none;
  opacity: 0.6;
}

@keyframes scaleTopLeft {
  0% {
    transform: scale(0);
    transform-origin: 0% 0%;
    border-bottom-right-radius: 50%;
  }
  100% {
    transform: scale(1);
    transform-origin: 0% 0%;
    border-radius: 0;
  }
}
@keyframes scaleBottomRight {
  0% {
    transform: scale(0);
    transform-origin: 100% 100%;
    border-top-left-radius: 50%;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 100%;
    border-top-left-radius: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
